<div class="login-form">
  <div class="row">
    <p> Sign in</p>
    <div class="form-group">
      <%= form_for(:session, url: login_path) do |f|  %>
        <div class="form email">
          <%= f.label :email, 'Email Address' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form password">
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="text-center">
          <%= f.submit 'Sign in', class: 'login-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>