<div class="ranking-list">
  <ul class="entry">
    <strong>お気に入りランキング</strong>
  </ul>
  <% if @novels.present? %>
    <div class="main">
      <% @novels.each_with_index do |novel, index| %>
        <div class="novel-box">
          <div class="ranking">
            <p><strong><%= index+1 %>位</strong>  (<%= @ranking_counts[novel.id] %> 人)</p>
          </div>
          <div class="trigger">
            <h3><strong><%= link_to novel.title, "/novel/#{novel.id}" %></strong></h3>
            <br>
            <p>作者：<%= link_to novel.user.name, "/users/#{novel.user_id}" %></p>
            <p class="triangle">▼</p>
            <p>連載：<%= novel.submit_novels.count %>話</p>
          </div>
          <div class="toggle-container">
            <p><%= simple_format(novel.summary) %></p>
            <p class="novel-link">
              <%= link_to "この作品を読む", "/novel/#{novel.id}" %>
            </p>
            <p class="day">更新日時<%= simple_time(novel.submit_novels.last.created_at) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>