<div class="entry-form">
  <div class="row">
    <p>ユーザー登録</p>
    <div class="form-group">
      <%= form_for(@user) do |f| %>
        <div class="form username">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form email">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form password">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form password-check">
          <%= f.label :password_confirmation, 'パスワード(確認)' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="text-center">
          <%= f.submit '登録する', class: 'entry-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
