<div class="mypage">  
  <div class="mypage-sub mypage-left">
    <ul class="submenu">
      <li class="icon">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: 'image-size' %>
        <% else %>
          <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
        <% end %>
        <h1><%= @user.name %></h1>
        <%= render 'relationships/follow_button', user: @user %>
      </li>
     
      <% if current_user.id == @user.id %>
        <li><%= link_to '小説を作成する', new_novel_path %></li>
        <li><%= link_to 'ユーザー登録を削除する', "/users/#{@user.id}", method: :delete %></li>
        <li><%= link_to '執筆中の小説', '/draft_list' %></li> 
        <li><%= link_to '投稿した小説', "/submit_novels/#{@user.id}" %></li>
        <li><%= link_to 'フォロー中のユーザー', "/users/#{@user.id}/followings" %></li>
        <li><%= link_to 'フォロワー', "/users/#{@user.id}/followers" %></li>
        <li><%= link_to 'ユーザー情報を変更する', "/users/#{@user.id}/edit" %></li>
      <% end %>
      
    </ul>
  </div>
  
  <div class="mypage-main mypage-center">
    <div class="contents-box">
      <h4>作品</h4>
      <% @novels.each do |novel| %>
        <div class="contents">
          <h2><strong><%= link_to novel.title, "/novel/#{novel.id}" %></strong></h2>
          <p>連載：<%= novel.submit_novels.count %>話</p>
          <p class="date">更新日時<%= simple_time(novel.submit_novels.last.updated_at) %></p>
        </div>
      <% end %>
    </div>
    <div class="contents-box favorite-novels">
      <h4>お気に入り小説リスト</h4>
      <% @user.favorite_novels.each do |favorite| %>
        <div class="contents">
          <h2><strong><%= link_to favorite.title, "/novel/#{favorite.id}" %></strong></h2>
          <span>作者:</span><%= link_to favorite.user.name, "/users/#{favorite.user_id}" %><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
