<h1 id="pagetitle"><%= @novel.title %></h1>
<div id="novel-contents">
  <p class="author">
    作者：<%= @novel.user.name %>
  </p>
  <% unless current_user.id == @novel.user_id %>
    <div id="favorite-btn">
      <%= render 'favorites/favorite_button', novel: @novel %>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <hr class ="border">
  <div id="entry-box">
    <p><strong>あらすじ</strong></p>
    <%= simple_format(@novel.summary) %>
  </div>
  <br>
  <hr class="border">
  <div class="entry">
  <% @submit.each do |submit| %>
    <li>
      <%= link_to submit.subtitle, "/novel/#{@novel.id}/#{submit.sequential_id}", class: 'subtitle' %>
      <p class="date">
        <% if submit.created_at == submit.updated_at %>
          <%= simple_time(submit[:created_at]) %>
        <% else %>
          <%= simple_time(submit[:created_at]) %>(改:<%= simple_time(submit[:updated_at]) %>)
        <% end %>
      </p>
    </li>
    <hr class="border">
  <% end %>
  </div>
  <br>
  <%= social_share_button_tag(@novel.title, :allow_sites => %w(twitter) ) %>
</div>

