<div class="cover">
    <div class="cover-inner">
        <div class="cover-contents text-center">
            <h1>さあ、小説を読もう！</h1>
            <% if logged_in? %>
                <%= link_to '小説を読む', novels_path, class: 'btn btn-success btn-lg' %>
            <% else %>
                <%= link_to '小説を読む', signup_path, class: 'btn btn-success btn-lg' %>
            <% end %>
        </div><br>
            <ul class="novel-list">
                <% @novels.each do |novel| %>
                    <li class="media">
                        <div class="media-left">
                            <% if novel.user.image? %>
                                <%= image_tag novel.user.image.url, class: 'image-size' %>
                            <% else %>
                                <img class="media-object img-rounded" src="<%= gravatar_url(novel.user, {size: 70}) %>" alt="">
                            <% end %>
                        </div>
                        <div class="media-body">
                            <span>作者:</span><%= link_to novel.user.name, "/users/#{novel.user_id}" %><br>
                            <span class="text-muted">投稿日 <%= novel.created_at %></span><br>
                            <span class="text-muted">更新日 <%= novel.updated_at %></span><br>
                            <span>タイトル:</span><%= link_to novel.title, "/novels/#{novel.id}" %>
                        </div><br>
                        <% if logged_in? %>
                            <%= render 'favorites/favorite_button', novel: novel %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
    </div>
</div>
