<div id="navbar">
  <ul class="nl">
    <% if logged_in? %>
      <li>
        <%= link_to(search_path) do %>
          <span class="glyphicon glyphicon-book nav-icon"></span><br>
          小説検索
        <% end %>
      </li>
      <li>
        <%= link_to(user_path(current_user)) do %>
          <span class="glyphicon glyphicon-user nav-icon"></span><br>
          <%= "マイページ" %>
        <% end %>
      </li>
      <li>
        <%= link_to(rankings_favorite_novels_path) do %>
        <span class="glyphicon glyphicon-align-justify nav-icon"></span><br>
        ランキング
        <% end %>
      </li>
      <li>
        <%= link_to(logout_path, method: :delete) do %>
          <span class="glyphicon glyphicon-remove nav-icon"></span><br>
          ログアウト
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to(search_path) do %>
          <span class="glyphicon glyphicon-book nav-icon"></span><br>
          小説検索
        <% end %>
      </li>
      <li>
        <%= link_to(rankings_favorite_novels_path) do %>
          <span class="glyphicon glyphicon-align-justify nav-icon"></span><br>
          ランキング
        <% end %>
      </li>
      <li>
        <%= link_to(login_path) do %>
          <span class="glyphicon glyphicon-ok nav-icon"></span><br>
          ログイン
        <% end %>
      </li>
      <li>
        <%= link_to(signup_path) do %>
          <span class="glyphicon glyphicon-send nav-icon"></span><br>
          ユーザー登録
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
